* {
 margin: 0;
 padding: 0;
}
p {
 margin: 0 0 18px;
}

body {
 background: #e3e3e3;
 font-family: 'Inter', sans-serif;
}

a {
 text-decoration: none;
 color: white;

}

.swift__header-title h1{
 text-align: center;
 font-size: 36px !important;
 line-height: 48px !important;
 margin-bottom: 65px;
}
.legal-nodes__cards {
 max-width: 940px;
 display: flex;
 
 margin: 0 auto;
}
.legal-nodes__card {
 background: #FFFFFF;
 border: 1px solid #EAE9F2;
 border-radius: 10px;
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
 width: 100%;
 height: 473px;
 margin-left: 10.5px;
 text-align: center;
}
.legal-nodes__images {
 margin-top: 54.5px;
 margin-bottom: 9px;
}
.legal-nodes__subtitle {
 font-size: 21px;
 text-transform: uppercase;

}
.legal-nodes__text-decription {
 max-width: 293px;
 font-size: 15px;
 line-height: 26px;
}

.legal-nodes__btn {
 margin-top: 81px;
 margin-right: 20px;
 width: 220px;
 height: 55px;
 border-radius: 27.5px;
background: #2361FF;
}

.legal-nodes__btn a{
 color: white;
 text-transform: uppercase;
}

.work-principle__slides {
 
 margin-top: 225px;
 width: 100%;
 height: 637px;
}
.work-principle__text {
 max-width: 420px;
}
.work-principle__container-slide-one,
.work-principle__container-slide-two {
 display: flex;
 margin-left: 16px;
}
.work-principle__container-slide-two {
 flex-direction: row-reverse;
}
.work-principle__exapmle-image {
 margin-right: 71px;
}
.work-principle__text h2 {
 font-size: 36px;
 line-height: 48px;
}
.work-principle__text h3 {
 font-size: 21px;
 line-height: 24px;
}
.work-principle__text p {
 font-size: 15px;
 line-height: 26px;
}
.work-principle__container-slide-two .work-principle__text {
 margin-top: 130px;
}
.work-principle__btn {
 color: white;
 text-transform: uppercase;
 width: 220px;
 height: 55px;
 border-radius: 27.5px;
 background: #000;
}
.trust__container h2{
 font-size: 36px;
 line-height: 48px;
 margin-top: 61px;
 margin-bottom: 63px;
 text-align: center;
}
.trust__icons-container {
 display: flex;
 justify-content: space-around;
}
.contact-form__field {
 margin-top: 63px;
 width: 100%;
 height: 825px;
 background-image: url('./images/bg-form.png');
 background-size: cover;
}

.contact-form__title {
 text-align: center;
 padding-bottom: 62px;
 padding-top: 88px;
 color: white;
 max-width: 515px;
 margin: 0 auto;
}

.contact-form__title h2{
 font-size: 36px;
 line-height: 48px;
}
.contact-form__title p {
 font-size: 15px;
 line-height: 26px;
}
 
.contact-form__center-wrapper {
 display: flex;
 justify-content: space-between;
 margin: 0 auto;
 max-width: 940px;
 height: 430px;
}
input::placeholder,
textarea::placeholder {
 color: white;
}
.contact-form__input-wrapper {
 flex-direction: column;
 width: 520px;
}
.input-relation {
 height: 64px;
 margin-bottom: 20px;
}
.contact-form__inpyt-sizing {
 width: 100%;
 border: 1px solid #FFFFFF;
 border-radius: 5px;
 padding: 15px;
 background: transparent;
}
.contact-form__description {
 color: white;
}

.contact-form__description {
 display: flex;
 flex-direction: column;
}

.contact-form__title-concultation {
 padding-bottom: 20px;
 font-size: 21px;
line-height: 24px;
}

.contact-form__subtitle-concultation {
 max-width: 307px;
 font-size: 15px;
line-height: 26px;
}

.contact-form__concultation-btn {
 margin-top: 20px;
 width: 200px;
 height: 61px;
 background: transparent;
 border: 1px solid #FFFFFF;
 border-radius: 30px;
}

.contact-form__concultation-btn-link {
 text-transform: uppercase;
 font-size: 15px;
line-height: 36px;
}

.contact-form__submit-btn {
 color: white;
 text-transform: uppercase;
 margin-top: 20px;
 width: 100%;
 height: 55px;
 background: #3761F0;
 border: none;
border-radius: 30px;
font-size: 15px;
line-height: 36px;
}